p{
	font-size:20px;
}
a{
	direction:rtl;
	text-align:right;
}
ul{
	font-size:20px;
}
footer{
 background-color:#f2f2f2;
 padding:10px;
 font-family:tahoma;
 font-size:14px;
}
body {
     background-color:gray;
}
